<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta 
		      name="viewport"
		      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Coin Market Cap</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
		      href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
		      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
		      crossorigin="anonymous">
	</head>

	<body>
		<h1>Select Coin</h1>

		<form action="/" method="post">
			{% csrf_token %}
			<input type="checkbox" id="coin1" name="coin" value="duko">
			<label for="duko">DUKO</label>
			<span id="job-id"><a href="/scraping_status/{{job_id_1}}">{{job_id_1}}</a></span><br>
			<input type="checkbox" id="coin2" name="coin" value="notcoin">
			<label for="notcoin">NOT</label>
			<span id="job-id"><a href="/scraping_status/{{job_id_2}}">{{job_id_2}}</a></span><br>
			<input type="checkbox" id="coin3" name="coin" value="gorilla-token">
			<label for="gorilla-token">GORILLA</label>
			<span id="job-id"><a href="/scraping_status/{{job_id_3}}">{{job_id_3}}</a></span><br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
